<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NoteApp - Créez votre compte</title>
  </head>

  <body>
      <fieldset>
        Nom d'utilisateur * <input ng-model="username" type="text" name="username" value="" placeholder="Votre nom d'utilisateur"><br>
        Mot de passe * <input ng-model="password" type="password" name="password" value="" placeholder="Votre mot de passe"><br>
        Prénom <input ng-model="firstName" type="text" placeholder="Votre prénom"> <br>
        Nom <input ng-model="lastName" type="text" placeholder="Votre nom"> <br>
        Age <input ng-model="age" type="text" placeholder="Age"> <br>
      </fieldset><br>
      <button type="button" name="button" value="" ng-click="create()">OK</button>
  </body>
</html>
